.App {
  text-align: center;
  background-color:white;
  
}


.header {
    height:150px;
    background-image: url(http://en.people.cn/NMediaFile/2017/0118/FOREIGN201701181432000286896515829.jpg); 
    background-position: 100% 100%; 
 
}
.body{
  color: #131111;
  
}
.form{
  margin-top: 10px;
}
.heading{
  text-align: center;
  color: #1B1A1A;
  
}

.emoji{
  margin-top: 15px;
  display:inline-block;
}


.App-intro {
  font-size: large;
}

  




@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
